In [ ]:

#import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
from matplotlib.pyplot import pie, axis, show
from collections import Counter

from scipy import stats

#hide warning messages
import warnings
warnings.filterwarnings('ignore')

#read csv data
countries_top_artist = pd.read_csv("C:\\Users\\6560b\\Desktop\\homeworkUofR\\project2\\07-Project_1\\Output\\artist.csv")
countries_top_artist

In [ ]:
#check Genre column
countries_top_artist["name_genre"].value_counts()
countries_top_artist["name"].value_counts()
countries_top_artist["stats.listeners"].value_counts()
countries_top_artist["stats.playcount"].value_counts()

#Locate the various rows in the data table 
NameG = countries_top_artist.loc[countries_top_artist["name_genre"] == "NameG", :]
NameA = countries_top_artist.loc[countries_top_artist["name"] == "NameA", :]
Stat_Listeners = countries_top_artist.loc[countries_top_artist["stats.listeners"] == "Stat_Listeners 2", :]
Stat_playcount = countries_top_artist.loc[countries_top_artist["stats.playcount"] == "Stat_playcount", :]

In [ ]:
#remove various data from data sets 
Clean_countries_top_artist = countries_top_artist[["name","name_genre","stats.listeners","stats.playcount"]]
Clean_countries_top_artist

In [ ]:
    countries_top_artist.head(6)

In [ ]:
countries_top_artist.count()

In [ ]:
len(countries_top_artist.name.unique())

In [ ]:
len(countries_top_artist.name_genre.unique())

In [ ]:
countries_top_artist.describe()

In [ ]:
countries_top_artist.sort_values(by=['stats.playcount'],ascending=False).head(6)

In [ ]:
countries_top_artist.sort_values(by=['name','stats.playcount'],ascending=False).head(6)

In [ ]:
df1 =countries_top_artist.groupby('name')['stats.playcount'].apply(np.average)
df1.head(100)

In [ ]:
df1.__class__

In [ ]:
df2 = df1.reset_index()

In [ ]:
df2.__class__

In [ ]:
df2.head(6)

In [23]:
df2.sort_values(by=['stats.playcount'],ascending=False,inplace=True)
df2.head(6)

               name  stats.playcount
71              BTS      715401064.0
689     The Beatles      581966286.0
600       Radiohead      559780563.0
678    Taylor Swift      414971804.0
173        Coldplay      391787973.0
51   Arctic Monkeys      385389280.0

               name  stats.playcount
71              BTS      715401064.0
689     The Beatles      581966286.0
600       Radiohead      559780563.0
678    Taylor Swift      414971804.0
173        Coldplay      391787973.0
51   Arctic Monkeys      385389280.0

In [24]:
df2.index.values

array([ 71, 689, 600, 678, 173,  51, 415, 514, 390, 579, 433, 607, 418,
       486, 540, 671,  53, 238, 611, 185, 123, 705, 593, 189, 566, 306,
       278, 423, 215, 305, 730,  90, 582,  49, 813, 539, 394, 605, 274,
       726, 461, 201, 337, 697, 406, 195, 736, 720, 109, 259, 547, 712,
       573, 399, 594, 283, 767, 515, 740, 612, 665,  11, 489, 653, 698,
        16, 408, 690, 725, 167, 114, 536, 750, 810, 564, 737, 648, 715,
       471, 468, 503, 335,  67, 100, 478, 308, 785, 377, 343, 285,   3,
       676, 709, 334, 199, 210, 774, 581, 103, 378, 122, 234, 383, 227,
       457, 250, 178, 104,  83, 497, 766, 442, 467, 719, 108, 513,  37,
       404, 596, 395, 358, 333, 216, 501, 107, 602, 190, 646, 534, 553,
        95, 233, 748,  19, 655, 724, 695,  30, 454, 217, 797, 272, 742,
       608, 584, 126, 533,  81, 146, 392, 116,  46, 411, 556,  42, 132,
       565, 307, 638, 577, 681, 429, 385, 688, 315, 458,  85, 386, 368,
       120,  82, 763, 200, 583,   6, 101, 738, 642, 236, 432, 560, 790,
       277, 796,  17, 271, 163, 606, 812, 620,  70, 284, 586, 336, 658,
       469, 369, 764, 431, 384, 159, 525,   8, 396, 554, 543, 398,  32,
       531, 115, 733, 685, 649, 264, 127, 111, 510, 153, 177, 280, 356,
       562,   1, 413, 692, 696, 235, 110, 530, 453, 314, 208,   2, 373,
       451, 675, 757, 253, 751, 499, 559, 393, 316, 708, 713,  63, 165,
       520, 339, 291, 197, 618,  31, 707, 488, 196,  47, 701, 412, 351,
       152,  66,  10, 636,  38, 246, 496, 346, 427, 252, 436, 276, 717,
        26,  39, 587, 569,  79, 718, 652, 407, 304, 791, 293,   7, 661,
       532, 326, 302, 793, 644, 270, 714, 741, 203, 527, 289, 836, 549,
       754, 143, 538,   5, 746, 381, 800, 347, 214, 627, 541, 651, 654,
       198, 775, 493, 773, 450, 139, 619,   4, 447, 376, 294, 615, 414,
       242, 801, 133, 224,  97, 585, 721, 121, 113, 706, 723, 360, 662,
       212, 223, 147, 400, 448, 303, 206, 209, 463, 465, 508, 363,  80,
       761, 660, 327, 487, 474, 464, 580, 570, 102, 623, 734, 776, 231,
       806, 311, 739, 273,  75, 480, 576, 262, 710, 375,  40, 151, 106,
       452, 672, 172, 281,  29, 416,  86, 365, 331, 589, 439, 460, 239,
       419, 769, 275, 445, 188, 691,  43, 821, 232, 220, 702,  50, 516,
       811,  34, 624, 743,  96, 765, 571, 194, 382, 180, 241, 128, 361,
       815, 728, 254, 300,  99,  77,  52, 759, 756, 352, 332, 629, 544,
       301, 403, 187, 355,  68, 240, 693, 634, 426, 446, 598, 492, 787,
       318, 105, 524, 635, 807, 156, 410, 832, 353, 686, 604, 711, 558,
        84, 479,  91,  21, 149, 380, 258, 420, 574, 176, 374, 268, 202,
       650, 753, 617,  88, 287, 371, 470, 150, 297, 348, 354, 590, 170,
       330, 509, 747, 668, 171, 494, 657, 568, 440, 631, 372, 141, 502,
       542, 237, 435, 809, 135,  12, 324,  76, 735, 798, 546, 521, 482,
       349, 162, 609, 484, 269, 755, 247, 637, 473, 699,  22, 528, 616,
       225, 805, 526, 621, 788, 517, 548, 506, 169, 409, 183, 181, 758,
       491, 379, 575, 490, 771, 663, 777,  15, 249, 625, 350, 437, 475,
       136,  64, 704, 782, 328, 279, 472,  94,  23, 338, 323, 716, 485,
       613, 537, 595, 160, 817,  13, 656, 819, 789, 296,  18, 500, 290,
       248, 578, 211,  41, 535, 345, 182, 218, 643, 317, 551, 495, 397,
       732,  25,  28, 186, 818, 148, 837, 421, 673, 222, 184,   0,  87,
       366, 597,  98, 321, 674, 694, 820, 292, 119, 255, 727, 601, 786,
       729, 207,  69, 816, 179, 142, 295, 129, 829, 830, 779, 310, 744,
       166,  36, 213, 175, 614, 670, 364,  58, 768, 286, 778,  33, 749,
       770, 251, 731, 752, 124,  35, 834, 288, 312,  72, 703, 140, 512,
       826, 428,  48, 781, 610, 804, 808, 221,  73, 641, 309, 825, 823,
       438, 145, 357, 794, 370, 425, 700, 192, 563, 669,  89, 424, 389,
       780, 522,  92,  24, 401, 449, 267,  14, 256,   9, 523, 359, 174,
       417, 261, 193, 799, 117, 840, 839, 118, 441, 243, 552, 466, 828,
       144, 266,  59, 567, 838, 814, 626, 158, 795, 265, 666, 161, 319,
       803, 430, 827, 591, 282, 219, 325, 640, 507, 677, 322, 313, 362,
       529, 557, 684, 422, 131,  20, 112, 205, 444, 298, 835,  56, 341,
        74,  60, 164, 682, 831, 443, 824, 483, 667, 645, 134,  45, 329,
       841, 344, 628,  93, 833, 687, 299, 320,  61, 647, 342,  78, 679,
       229, 760, 659, 588, 340, 680, 783, 257, 822, 402, 572, 230, 405,
       455, 762, 138, 518, 630, 498,  44, 802, 155, 367, 244, 137, 545,
       462, 722, 639, 477, 245, 745, 772,  54, 456, 519, 204, 792, 505,
       603, 664, 226, 125, 481,  62, 434, 228, 511, 191, 168, 263, 157,
       504, 391, 683, 632, 388, 561, 555,  55, 459, 154, 130, 784, 550,
       599, 633,  57,  27, 476,  65, 260, 622, 387, 592], dtype=int64)

array([ 71, 689, 600, 678, 173,  51, 415, 514, 390, 579, 433, 607, 418,
       486, 540, 671,  53, 238, 611, 185, 123, 705, 593, 189, 566, 306,
       278, 423, 215, 305, 730,  90, 582,  49, 813, 539, 394, 605, 274,
       726, 461, 201, 337, 697, 406, 195, 736, 720, 109, 259, 547, 712,
       573, 399, 594, 283, 767, 515, 740, 612, 665,  11, 489, 653, 698,
        16, 408, 690, 725, 167, 114, 536, 750, 810, 564, 737, 648, 715,
       471, 468, 503, 335,  67, 100, 478, 308, 785, 377, 343, 285,   3,
       676, 709, 334, 199, 210, 774, 581, 103, 378, 122, 234, 383, 227,
       457, 250, 178, 104,  83, 497, 766, 442, 467, 719, 108, 513,  37,
       404, 596, 395, 358, 333, 216, 501, 107, 602, 190, 646, 534, 553,
        95, 233, 748,  19, 655, 724, 695,  30, 454, 217, 797, 272, 742,
       608, 584, 126, 533,  81, 146, 392, 116,  46, 411, 556,  42, 132,
       565, 307, 638, 577, 681, 429, 385, 688, 315, 458,  85, 386, 368,
       120,  82, 763, 200, 583,   6, 101, 738, 642, 236, 432, 560, 790,
       277, 796,  17, 271, 163, 606, 812, 620,  70, 284, 586, 336, 658,
       469, 369, 764, 431, 384, 159, 525,   8, 396, 554, 543, 398,  32,
       531, 115, 733, 685, 649, 264, 127, 111, 510, 153, 177, 280, 356,
       562,   1, 413, 692, 696, 235, 110, 530, 453, 314, 208,   2, 373,
       451, 675, 757, 253, 751, 499, 559, 393, 316, 708, 713,  63, 165,
       520, 339, 291, 197, 618,  31, 707, 488, 196,  47, 701, 412, 351,
       152,  66,  10, 636,  38, 246, 496, 346, 427, 252, 436, 276, 717,
        26,  39, 587, 569,  79, 718, 652, 407, 304, 791, 293,   7, 661,
       532, 326, 302, 793, 644, 270, 714, 741, 203, 527, 289, 836, 549,
       754, 143, 538,   5, 746, 381, 800, 347, 214, 627, 541, 651, 654,
       198, 775, 493, 773, 450, 139, 619,   4, 447, 376, 294, 615, 414,
       242, 801, 133, 224,  97, 585, 721, 121, 113, 706, 723, 360, 662,
       212, 223, 147, 400, 448, 303, 206, 209, 463, 465, 508, 363,  80,
       761, 660, 327, 487, 474, 464, 580, 570, 102, 623, 734, 776, 231,
       806, 311, 739, 273,  75, 480, 576, 262, 710, 375,  40, 151, 106,
       452, 672, 172, 281,  29, 416,  86, 365, 331, 589, 439, 460, 239,
       419, 769, 275, 445, 188, 691,  43, 821, 232, 220, 702,  50, 516,
       811,  34, 624, 743,  96, 765, 571, 194, 382, 180, 241, 128, 361,
       815, 728, 254, 300,  99,  77,  52, 759, 756, 352, 332, 629, 544,
       301, 403, 187, 355,  68, 240, 693, 634, 426, 446, 598, 492, 787,
       318, 105, 524, 635, 807, 156, 410, 832, 353, 686, 604, 711, 558,
        84, 479,  91,  21, 149, 380, 258, 420, 574, 176, 374, 268, 202,
       650, 753, 617,  88, 287, 371, 470, 150, 297, 348, 354, 590, 170,
       330, 509, 747, 668, 171, 494, 657, 568, 440, 631, 372, 141, 502,
       542, 237, 435, 809, 135,  12, 324,  76, 735, 798, 546, 521, 482,
       349, 162, 609, 484, 269, 755, 247, 637, 473, 699,  22, 528, 616,
       225, 805, 526, 621, 788, 517, 548, 506, 169, 409, 183, 181, 758,
       491, 379, 575, 490, 771, 663, 777,  15, 249, 625, 350, 437, 475,
       136,  64, 704, 782, 328, 279, 472,  94,  23, 338, 323, 716, 485,
       613, 537, 595, 160, 817,  13, 656, 819, 789, 296,  18, 500, 290,
       248, 578, 211,  41, 535, 345, 182, 218, 643, 317, 551, 495, 397,
       732,  25,  28, 186, 818, 148, 837, 421, 673, 222, 184,   0,  87,
       366, 597,  98, 321, 674, 694, 820, 292, 119, 255, 727, 601, 786,
       729, 207,  69, 816, 179, 142, 295, 129, 829, 830, 779, 310, 744,
       166,  36, 213, 175, 614, 670, 364,  58, 768, 286, 778,  33, 749,
       770, 251, 731, 752, 124,  35, 834, 288, 312,  72, 703, 140, 512,
       826, 428,  48, 781, 610, 804, 808, 221,  73, 641, 309, 825, 823,
       438, 145, 357, 794, 370, 425, 700, 192, 563, 669,  89, 424, 389,
       780, 522,  92,  24, 401, 449, 267,  14, 256,   9, 523, 359, 174,
       417, 261, 193, 799, 117, 840, 839, 118, 441, 243, 552, 466, 828,
       144, 266,  59, 567, 838, 814, 626, 158, 795, 265, 666, 161, 319,
       803, 430, 827, 591, 282, 219, 325, 640, 507, 677, 322, 313, 362,
       529, 557, 684, 422, 131,  20, 112, 205, 444, 298, 835,  56, 341,
        74,  60, 164, 682, 831, 443, 824, 483, 667, 645, 134,  45, 329,
       841, 344, 628,  93, 833, 687, 299, 320,  61, 647, 342,  78, 679,
       229, 760, 659, 588, 340, 680, 783, 257, 822, 402, 572, 230, 405,
       455, 762, 138, 518, 630, 498,  44, 802, 155, 367, 244, 137, 545,
       462, 722, 639, 477, 245, 745, 772,  54, 456, 519, 204, 792, 505,
       603, 664, 226, 125, 481,  62, 434, 228, 511, 191, 168, 263, 157,
       504, 391, 683, 632, 388, 561, 555,  55, 459, 154, 130, 784, 550,
       599, 633,  57,  27, 476,  65, 260, 622, 387, 592], dtype=int64)

In [27]:
countries_top_artist_count = countries_top_artist["stats.playcount"].value_counts()

In [28]:
counts= countries_top_artist['stats.playcount', 'name'].value_counts()
counts.head(6)

KeyError: ('stats.playcount', 'name')

KeyError: ('stats.playcount', 'name')

In [29]:
counts.index.values
counts.head(6)

name_genre    url                                   name              stats.listeners  stats.playcount  streamable
yeah          https://www.last.fm/tag/yeah          LIL UZI VERT      656975           65065950         0             1
classic rock  https://www.last.fm/tag/classic+rock  Joan Baez         638817           7817311          0             1
dance         https://www.last.fm/tag/dance         The Chainsmokers  1113148          32590722         0             1
                                                    The Avalanches    835581           27357714         0             1
                                                    Sam Smith         1317535          44884150         0             1
                                                    Little Mix        818413           53029703         0             1
dtype: int64

name_genre    url                                   name              stats.listeners  stats.playcount  streamable
yeah          https://www.last.fm/tag/yeah          LIL UZI VERT      656975           65065950         0             1
classic rock  https://www.last.fm/tag/classic+rock  Joan Baez         638817           7817311          0             1
dance         https://www.last.fm/tag/dance         The Chainsmokers  1113148          32590722         0             1
                                                    The Avalanches    835581           27357714         0             1
                                                    Sam Smith         1317535          44884150         0             1
                                                    Little Mix        818413           53029703         0             1
dtype: int64

In [37]:


my_labels = 'Lil Uzi Vert  ','Joan Baez' , 'The Chainsmokers'
plt.pie(Tasks,labels=my_labels,autopct='%1.1f%%')
plt.title()
plt.axis('equal')
plt.show()

NameError: name 'Tasks' is not defined

NameError: name 'Tasks' is not defined